step-function.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Serialize Image data",
    "States": {
        "Serialize Image data": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload.body",
        "Parameters": {
            "FunctionName": "arn:aws:lambda:us-east-1:631734214354:function:serializeImageData:$LATEST",
            "Payload.$": "$"
        },
        "Retry": [
            {
            "ErrorEquals": [
                "Lambda.ServiceException",
                "Lambda.AWSLambdaException",
                "Lambda.SdkClientException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 6,
            "BackoffRate": 2
            }
        ],
        "Next": "Classify Image data"
        },
        "Classify Image data": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload.body",
        "Parameters": {
            "Payload.$": "$",
            "FunctionName": "arn:aws:lambda:us-east-1:631734214354:function:classifyImageData:$LATEST"
        },
        "Retry": [
            {
            "ErrorEquals": [
                "Lambda.ServiceException",
                "Lambda.AWSLambdaException",
                "Lambda.SdkClientException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 6,
            "BackoffRate": 2
            }
        ],
        "Next": "filter low inferences"
        },
        "filter low inferences": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
            "Payload.$": "$",
            "FunctionName": "arn:aws:lambda:us-east-1:631734214354:function:filterLowInferences:$LATEST"
        },
        "End": true
        }
    }
}